@model IEnumerable<WebBH.Models.Product>

@foreach (var Product in Model)
{
    var demoImg = "https://images.unsplash.com/photo-1512436991641-6745cdb1723f?auto=format&fit=crop&w=400&q=80";
    var imgUrl = Product.Product_Imgs.FirstOrDefault(p => p.IsPrimary == true)?.ImageUrl ?? demoImg;
    <div class="col-lg-4 col-md-6">
        <div class="product__item">
            <div data-url="@Url.Action("ProductDetail", "Product", new { id = Product.Id })" style="cursor:pointer">
                <div class="product__item__pic set-bg clickable"
                     data-setbg="@imgUrl">
                    <div class="label new">Mới</div>
                    <ul class="product__hover">
                        <li><a href="@imgUrl" class="image-popup"><i class="bi bi-arrows-angle-expand"></i></a></li>
                        <li><a href="#" class="add-to-favorites"><i class="bi bi-heart"></i></a></li>
                        <li><a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Product.Id" class="add-to-cart"><i class="bi bi-bag"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="product__item__text">
                <h6><a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@Product.Id">@Product.Name</a></h6>
        
                <div class="product__price">@Product.Variants.FirstOrDefault()?.Price.ToString("N0")</div>
            </div>
        </div>
    </div>
}